<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 class="container mt-5"> Add New Student</h4>
<div class="container mt-5" >
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-success" name="" value="Add">
    </form>

    <div class="col-sm-8">
        <h3 align = "text-center alert alert-info">Show Student Information</h3>
        {% if stu %}
            <table class="table table-hover">
                 <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
                 </thead>
                <tbody>
                    {% for st in stu %}
                <tr>
                    <th scope="row" >{{st.id}}</th>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.password}}</td>
                    <td>
                        <a href="/update/{{st.id}}" class="btn btn-warning btn-sm">Update</a>
                        <a href="/delete/{{st.id}}" >Delete</a>

                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}
    </div>
</div>
</body>
{% endblock content %}
</html>
